extends ../layout 

block content 
    a(href = '/bikes') return

    br
    br
    br

    h1 New Bike

    br
    br

    form(action='/bikes/create' method='post')
        label(for='bike_id') ID: 
        input#id(type='text' name='bike_id')
        br
        label(for='color') Color: 
        input#id(type='text' name='color')
        br
        label(for='bike_model') Bike Model: 
        input#id(type='text' name='bike_model')
        br
        label(for='lat') Latitude: 
        input#id(type='text' name='lat')
        br
        label(for='lng') Longitude: 
        input#id(type='text' name='lng')
        br
        br
        input.btn(type='submit' value= 'OK')