extends ../layout 

block content
    a(href='/bikes/create') Create a new bike

    table.table
        thead
            tr 
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Model
                th(scope='col') Location 
                th(scope='col')
                th(scope='col')
        tbody 
            each bike in bikes
                tr 
                    th(scope='row')
                       = bike.bike_id
                    td= bike.color 
                    td= bike.bike_model 
                    td= bike.location
                    td 
                        a(href='bikes/'+bike.bike_id+'/update') Edit
                    td
                        form.inline(method='post' action='bikes/'+bike.bike_id+'/delete')
                            input(type='hidden' name='bike_id' value = bike.bike_id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn') 
                                = 'Delete'