extends ../layout 

block content 
    a(href = '/bikes') return

    br
    br
    br

    h1 Modify a bike

    br
    br

    form(action=`/bikes/${bike.bike_id}/update` method='post')
        label(for='bike_id') ID: 
        input#id(type='text' name='bike_id' value=bike.bike_id)
        br
        label(for='color') Color: 
        input#id(type='text' name='color' value=bike.color)
        br
        label(for='bike_model') Bike Model: 
        input#id(type='text' name='bike_model' value=bike.bike_model)
        br
        label(for='lat') Latitude: 
        input#id(type='text' name='lat' value=bike.location[0])
        br
        label(for='lng') Longitude: 
        input#id(type='text' name='lng' value=bike.location[1])
        br
        br
        input.btn(type='submit' value= 'OK')